#modalWrapper {
	height: 100%;
	width: 100%;

	display: none;

	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
}

#modalShade {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.75);
	height: 100%;
	width: 100%;
}

#modalContent {
	background: #fff;
	width: 570px;
	position: absolute;
	padding: 30px;
}


